.list{
	margin-bottom: 20px;

}
.sort{
	width: 200px;
	margin-bottom: 20px;
}
.sort-item{
	float: left;
	font-size: 16px;
	text-align: center;
	border: 1px solid #999;
	padding: 10px;
	margin-right: -1px;
	position: relative;
}
.sort-item.active{
	color: #fff;
	background: #f21;
}
.sort .fa-sort-asc{
	position: absolute;
}
.sort-item.desc .fa-sort-asc{
	color: #999;
}
.sort-item.asc .fa-sort-desc{
	color: #999;
}


.product-box{
	margin-bottom: 40px;
}
.product-list-item{
	float: left;
	width: 238px;
	margin-right: 10px;
}
.product-list-item:nth-child(5n){
	margin-right: 0px;
}
.product-list-item a{
	text-decoration: none;
}
.product-image{
	width: 238px;
	height: 240px;
}
.product-price{
	color: #f21;
	text-align: center;
	height: 20px;
	line-height: 20px;
}
.product-name{
	color: #999;
	font-size: 14px;
	text-align: center;
	height: 20px;
	line-height: 20px;
	width: 240px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.noList{
	font-size: 25px;
	text-align: center;
	color: #f01;
}