<div class="nav">
	<div class="container">
		<div class="userInfo">
			<div class="no-login">
				<a class="link" href="./user-login.html">登录</a>
				<a class="link" href="./user-register.html">免费注册</a>
			</div>
			<div class="login hide">
				<span class="link-text ">
					欢迎
				</span>
				<span class="username"></span>
				<a class="link" href="javascript:;" id="logout">退出</a>
			</div>
		</div>
		<ul class="list">
			<li class="list-item">
				<a href="./cart.html" class="link">
					<i class="fa fa-shopping-cart"></i>
					购物车(<span class="cart-num">0</span>)
				</a>
			</li>
			<li class="list-item">
				<a class="link" href="./order-list.html">我的订单</a>
				<a class="link" href="./user-center.html">个人中心</a>
			</li>
		</ul>
	</div>
</div>