.content .order-box{
	margin-bottom: 50px;
}
.panel .panel-header{
	margin-bottom: 20px;
}
.panel .product-info{
	width: 70%;
	float: left;
}
.panel .product-price{
	width: 10%;
	float: left;
}
.panel .product-count{
	width: 10%;
	float: left;
}
.panel .product-total-price{
	width: 10%;
	float: left;
}
.content .panel .product-countMenu-text{
	margin-left: 0px;
}
.order-box .panel .product-item{
	margin: 0px;
	margin-top: -1px;
}

.panel .order-info{
	height: 40px;
	line-height: 40px;
}
.panel .order-info li{
	float: left;
	margin-right: 20px;
	height: 100%;
	color:#666;
}
.panel .order-paymentStatusDesc .text{
	color: #3d49f3c4;
}
.panel .order-payment .text{
	color: #f21;
	font-size: 15px;
	font-weight: bold;
}
.panel .order-user .text{
	width: 100px;
	display: inline-block;
	overflow: hidden;
	text-overflow: ellipsis;
	vertical-align:middle;
}
.panel li.order-detail{
	float: right;
}